<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1><%= Title %></h1>
        <h2><%= Subtitle %></h2>
        <form   id="uploadForm"
                enctype="multipart/form-data"
                action="/api/photos"
                method="post"
            >
            <p>
                <label for="title">Title</label>
                <input type='text' name='title'/>
            </p>
            <p>
                <select name='category'>
                    <option value="Weddings">Weddings</option>
                    <option value="Landscapes">Landscapes</option>
                    <option value="Portraits">Portraits</option>
                </select>
            </p>
            <p>
                <label for="isPublic">is public</label>
                <input type="checkbox" name='isPublic'>
            </p>
            <p>
                <label for="fileInput">Add file</label>
                <input 
                    id='fileInput' 
                    type='file'
                    name='file'
                    multiple
                     />
            </p>
            <input type="submit" value="submit" />
        </form>
        <div id="photosContainer">
            <%- photos.map(({title, url})=>`<img width="1024" src='${url}' />`).join('') %>
        </div>
    
    </body>
</html>